@import "./basic-styles.css";

header,
footer {
  padding-top: 16px;
  padding-bottom: 16px;
}

footer {
  background-color: var(--blue);
}

.container {
  max-width: 1128px;
  margin: auto;
  padding: 0 16px;
}

.hero,
.articles {
  margin-bottom: 80px;
}

.list-hero {
  display: grid;
  row-gap: 12px;
  grid-template-columns: 1fr;
}

.list-item-hero {
  line-height: 0;
}

.list-item-hero a {
  position: relative;
  display: inline-block;
}

.overlay {
  position: absolute;
  z-index: 999;
  background-color: var(--overlay);
  padding: 10px 20px;
  border-radius: 0 0 16px 16px;
  bottom: 0px;
}

.overlay h3 {
  color: var(--common-white);
}

.wrap-topic .sub-title {
  margin-bottom: 12px;
}

.list-articles {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 48px;
}

.articles-link {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 20px;
}

.list-socials {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px 8px;
  margin-bottom: 96px;
}

.list-item-socials {
  padding: 8px;
  border-radius: 16px;
}

.social-link {
  display: grid;
  grid-template-columns: 32px 1fr;
  align-items: center;
}

.social-sub {
  justify-self: center;
}

.icon-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--black);
  border-radius: 8px;
  padding: 8px;
  width: 32px;
  height: 32px;
}

.list-item-socials:nth-child(1) {
  background-color: var(--navy);
}

.list-item-socials:nth-child(2) {
  background-color: var(--pink);
}

.list-item-socials:nth-child(3) {
  background-color: var(--scarlet);
}

.list-item-socials:nth-child(4) {
  background-color: var(--turquoise);
}

.list-item-socials:nth-child(5) {
  background-color: var(--yellow);
}

.list-item-socials:nth-child(6) {
  background-color: var(--lilac);
}

.wrap-video {
  position: relative;
  display: flex;
  justify-content: center;
}

.wrap-video svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.video {
  margin-bottom: 96px;
}

@media (min-width: 320px) and (max-width: 767px) {
  .container {
    width: 320px;
  }
}

@media (min-width: 768px) {
  .list-hero {
    gap: 24px;
    grid-template-columns: repeat(2, 1fr);
  }

  .list-item-hero:first-child {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
  }

  .articles-link {
    display: grid;
    grid-template-columns: 264px 1fr;
    column-gap: 24px;
  }
}

@media (min-width: 1440px) {
  .overlay {
    padding: 24px 48px;
  }
  .common-container {
    display: grid;
    grid-template-columns: 1fr 360px;
    gap: 24px;
  }
}
